*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: seagreen
}
.heading h1{
    color:rgb(218, 197, 17);
    font-size: 48px;
    font-weight:900;
    letter-spacing: 1px;
    padding-top:2rem;
    text-align: center;
    /* text-shadow: 3px 6px rgba(50,50,70,0.7); */
}
.heading h4{
    color:black;
    text-align: center;
}
.container{
    width:1000px;
    margin:0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card{
    width:fit-content;
    height:fit-content;
    margin:1.5rem;
    background: linear-gradient(to left,rgb(204, 255, 51,0.5),to left,rgb(255, 255, 255,0.9));
    border-radius: 8px;
    box-shadow: 0 7px 12px rgb(204, 255, 51,0.5);
    box-sizing: border-box;
    overflow: auto;
    position:relative;
}
.card img{
    width:fit-content;
    height: fit-content;
}
.card .info{
    color:black ;  
    text-align: center;
    background-color: wheat
  }
 
  .card .info h2{
      margin:0;
      font-weight: 900;
      margin-top: 15px;
  }
  .card .info p{
    margin: 0;
    font-size: 17px;
    letter-spacing: 2px;
    margin-top: 10px;
}
.card:before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    height:0;
    width:100%;
    background: linear-gradient(to bottom,rgba(51, 122, 255, 0.7),rgb(204, 255, 51,0.9));
    transition:0.2s All;
}
.card:hover:before{
    height: 100%;  
   
}
.card:hover{
    background: linear-gradient(to bottom,rgb(204, 255, 51,0.7),rgb(204, 255, 51,0.9));  
}
.card .recipe{
    position: absolute;
    top:0;
    left:0;
    text-align: justify;
    padding: 0.5rem 1rem;
    display: none;
    transition: 0.3s all;
}
.card:hover .recipe{
    display:block;
}
.recipe h2{
    margin-bottom:10px;
}
.recipe img{
    width: 300px;
    height:300px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.recipe p{
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.recipe a{   
    display: block;
    text-align: center;
}